# Core Application & Web Framework
fastapi
uvicorn[standard]
python-dotenv
pydantic
python-multipart

# AI & LLM Interaction
langfuse
openai

# Data Handling & Enrichment
pandas
beautifulsoup4
thefuzz[speedup]
jsonschema
requests

# Web Scraping
playwright
google-search-results>=2.4.2

# API Clients
resend
africastalking
httpx
hubspot-api-client
